<mat-card class="card">
    <mat-card-header>
        <h2 class="header-name">{{pokemonDetails.name | upperCase}}</h2>
    </mat-card-header>
    <img mat-card-image [src]="pokemonDetails.sprites.front_default" alt="{{pokemonDetails.name}} picture">
    <mat-card-content>
        {{pokemonDetails.name}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/Pokemon/{{pokemonDetails.name}}">View More</button>
    </mat-card-actions>
</mat-card>